body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1, h3 {
  color: #ffe81f;
}

section {
  margin: 20px;
}

.personaje {
  background: #222;
  padding: 10px;
}

.anakin {
  width: 400px;
  border-radius: 10px;
}

.Jedi {
  color: #4dabf7;
}

.Sith {
  color: #ff6b6b;
}

ul {
  list-style: none;
  padding: 0;
}